body {
    padding: 0px;
    margin: 0px;
   background: black;
}

img {
    width: 100%;
    height: 90%;
}

.vague {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh; 
}

.container {  
    display: flex;
    justify-content: center;
    position: relative;
    align-items: center;
    height: 80vh;
}

.titre {
    background:#212121;
    font-size: 100px;
    color: black;
    position: absolute;
}

.sous_titre {
    color: #faf1e6;
    font-size: 20px;
    float: right;
    margin-top: -20px;
    list-style-image: url(puce4.png);
}

#top_menu li { 
    list-style: none;
    padding: 10px 20px;
}

#top_menu {
    margin: 0;
    margin-left: -1%;
    width: 850px;
    height: 60px;
    display: flex;
    border-bottom: solid #faf1e6;
}

#top_menu li a {
    text-decoration: none;
    font-size: 35px;
    color: #faf1e6;
    position: relative;
}

#top_menu a:hover {
    color: #0066cc;
}

@import url(https://fonts.googleapis.com/css?family=Exo+2:200i);

:root {

  font-size: 10px;   
  
  
  --neon-text-color: #faf1e6;
  --neon-border-color: #08f;
}

#portfoliotitre {
    font-size: 40px;
    font-style: italic;
    color: #fff;
    padding: 10px;
    border:  solid #fff;
    border-radius: 3px;
    text-transform: uppercase;
    animation: flicker 1.5s infinite alternate;  
    height: 40px;
    width: 250px;
    text-align: center
}

h1::-moz-selection {
  background-color: var(--neon-border-color);
  color: var(--neon-text-color);
}

h1::selection {
  background-color: var(--neon-border-color);
  color: var(--neon-text-color);
}

h1:focus {
  outline: none;
}

@keyframes flicker {
    
    0%, 19%, 21%, 23%, 25%, 54%, 56%, 100% {
      
     text-shadow:
            -0.2rem -0.2rem 1rem #fff,
            0.2rem 0.2rem 1rem #fff,
            0 0 0rem var(--neon-text-color),
            0 0 4rem var(--neon-text-color),
            0 0 6rem var(--neon-text-color),
            0 0 8rem var(--neon-text-color),
            0 0 10rem var(--neon-text-color);
        
        box-shadow:
            0 0 .5rem #fff,
            inset 0 0 .5rem #fff,
            0 0 2rem var(--neon-border-color),
            inset 0 0 2rem var(--neon-border-color),
            0 0 4rem var(--neon-border-color),
            inset 0 0 4rem var(--neon-border-color);        
    }
    
    20%, 24%, 55% {        
        text-shadow: none;
        box-shadow: none;
    }    
}

#header {
    display: inline-block;
    width: 100%;
}

#portfolio{
    float: right;
    margin-top: -89px;
    margin-right: 2%;
}

.blockform {
    width: 300px; 
    height: 600px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.contact {
    margin-top: 140px;
    background-color: #212121;
    height: 350px;
}

#blocknom {
    margin-bottom: 15px;
    width: 200px;
    height: 35px;
    text-align: center;
    margin-top: -10px;
}

#blockprenom {
    width: 200px;
    height: 35px;
    margin-bottom: 15px;
    text-align: center;
}

#blockmail {
    width: 270px;
    height: 35px;
    margin-bottom: 15px;
    text-align: center;
}

#blockmessage {
    width: 300px;
    height: 80px;
    margin-bottom: 15px;
    text-align: center;
}

#blockenvoyer {
    width: 70px;
    height: 32px;
    margin-bottom: 15px;
    text-align: center;
}

#blockeffacer {
    width: 70px;
    height: 32px;
    margin-bottom: 15px;
    text-align: center;
}

#textform {
    text-align: center;
    color: #faf1e6;
    font-size: 25px;
}

/*.horizon {
    height: 100vh;
    display: inline-block;
}

#apropos {
    width: 400px;
    height: 600px;
}
*/

/*Page À Propos*/

.textpresentation {
    font-size: 25px;
    color: #faf1e6;
    margin-left: 60px;
} 

.containe {
    margin-top: 50px;
}

.droite{
    width: 50%;
    height: 500px;
    float: right;
    text-align: center; 
  
}

.gauche{
    width: 50%;
    height: 500px;
    float: left;
}

.align {
    width:90%;
    margin: auto;
}

.photoeva {
    height: 500px;
    width: 500px;
    opacity: 1;
}

/*Page Photographie*/

#photoinfographie {
    width: 280px;
    height: 440px;
    float: left;
    margin: 5px;
    
}

#photophotographie {
    width: 280px;
    height: 440px;
    float: left;
    margin: 5px;
    
}

#photowebradio {
    width: 280px;
    height: 440px;
    float: left;
    margin: 5px;  
}

#photoecriture {
    width: 280px;
    height: 440px;
    float: left;
    margin: 5px;  
}

#containerportfolio1{
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    display: flex;
}

#containerportfolio2{
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
}

#photosport {
    width: 280px;
    height: 440px;
    float: left;
    margin-top: 5px;
    margin-right: 5px;
}

#photositeweb {
    width: 280px;
    height: 440px;
    float: left;
    margin: 5px;  
}

#blockinfographie:hover #photoinfographie {
    opacity: 0.4;
}

#blockinfographie:hover .middleinfographie {
    opacity: 1;
}

#blockphotographie:hover .middlephotographie {
    opacity: 1;
}

#blockwebradio:hover .middlewebradio {
    opacity: 1;
}

#blockecriture:hover .middleecriture {
    opacity: 1;
}

#blocksport:hover .middlesport {
    opacity: 1;
}

#blocksiteweb:hover .middlesiteweb {
    opacity: 1;
}

#blockphotographie {
    background-color: none;
}

#blocksport {
    background-color: none;
}

#blocksiteweb {
    background-color: none;
}

#blockphotographie:hover #photophotographie {
    opacity: 0.4;
}

#blocksiteweb:hover #photositeweb {
    opacity: 0.4;
}

#blocksport:hover #photosport {
    opacity: 0.4;
}

.middleinfographie {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 40%;
    left: 11%;
    background-color: #0066cc;
    border: solid #0066cc;
    border-radius: 5px;
    width: 204px;
}

.middlesport {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 95%;
    left: 35%;
    background-color: #0066cc;
    border: solid #0066cc;
    border-radius: 5px;
    width: 120px;
}

.middlephotographie {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 40%;
    left: 31%;
    background-color: #0066cc;
    border: solid #0066cc;
    border-radius: 5px;
    width: 224px;
}

.middlewebradio {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 40%;
    left: 52%;
    background-color: #0066cc;
    border: solid #0066cc;
    border-radius: 5px;
    width: 170px;
}

.middleecriture {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 40%;
    left: 73%;
    background-color: #0066cc;
    border: solid #0066cc;
    border: solid #0066cc;
    border-radius: 5px;
    width: 162px;
}

.middlesiteweb {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 95%;
    left: 53%;
    background-color: #0066cc;
    border: solid #0066cc;
    border: solid #0066cc;
    border-radius: 5px;
    width: 162px;
}

#blockwebradio {
    background-color: none;
}

#blockwebradio:hover #photowebradio {
    opacity: 0.6;
}

#blockecriture {
    background-color: none;
}

#blockecriture:hover #photoecriture {
    opacity: 0.4;
}

.texteoverlayinfographie {
    color: white;
    font-size: 29px;
    text-align: center;
}

.texteoverlayphotographie {
    color: white;
    font-size: 29px;
    text-align: center;
}

.texteoverlaywebradio {
    color: white;
    font-size: 29px;
    text-align: center;
}

.texteoverlayecriture {
    color: white;
    font-size: 29px;
    text-align: center;
}

.texteoverlaysport{
    color: white;
    font-size: 29px;
    text-align: center;
}

.texteoverlaysiteweb{
    color: white;
    font-size: 29px;
    text-align: center;
}

/* Page photographie */


.horizon {
    width: 1200px;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
}

#textapropos{
    width: 500px;
    height: 450px;
    float: left;
    border: solid #faf1e6;
    border-radius: 5px;
 }

 .text {
    margin: 15px;
    color:  #faf1e6;
}

.photo1apropos {
    float: right;
    background-color: none;
    width: 660px;
    height: 452px; 
}

.photo1 {
    opacity: 1;
    width: 660px;
    height: 452px;
    transition: .5s ease;
    backface-visibility: hidden;
    transition: transform .2s;
}

.photo1:hover {
    transform: scale(1.3); 
  }

.horizon2{
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.photo2 {
    opacity: 1;
    width: 660px;
    height: 454px;
    transition: .5s ease;
    backface-visibility: hidden;
}

.photo2:hover {
    transform: scale(1.3); 
  }

.photo2apropos {
    float: right;
    margin-top: 28px; 
    width: 660px;
    height: 452px;
    background-color: none;
}

.photo3 {
    opacity: 1;
    width: 502px;
    height: 450px;
    transition: .5s ease;
    backface-visibility: hidden;
}

.photo3:hover {
    transform: scale(1.3); 
  }

.photo3apropos {
    float: left;
    margin-top: 28px;
    width: 500px;
    height: 450px;
    background-color: none;
}

.photo4 {
    opacity: 1;
    width: 500px;
    height: 700px;
    transition: .5s ease;
    backface-visibility: hidden;
}

.photo4:hover {
    transform: scale(1.3); 
  }

.photo5 {
    opacity: 1;
    width: 500px;
    height: 700px;
    transition: .5s ease;
    backface-visibility: hidden;
}

.photo5:hover {
    transform: scale(1.3); 
  }

/* Page Radio */

/* Page infographie */

.horizonbiere { 
width: 1200px;
margin-top: 40px;
margin-left: auto;
margin-right: auto;
}

.photobiere {
    width: 54%;
    height: auto;
}

.text {
    font-size: 20px;
}

.titrebiere {
    color: white;
    margin-left: 14px; 
    font-size: 30px;
}

#textebiere {
    width: 65%;
    float: left;
    text-align: justify;
    margin-bottom: 50px;
}

.blockbiereavant {
    width: 30%;
    float: right;
}

#vignettephotobiereavant {
    width: 60px;
    height: 174px;
    float: left;
}

#vignettephotobierederriere {
    width: 60px;
    height: 176px;
    float: right;
}

.horizonbiere2 {
    width: 170px;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
}

.horizonliste li {
    cursor: pointer;
    list-style: none;
    transition: 0.5s;
}

.horizonliste li:hover {
    transform: translateY(-15px);
}

.photochampignon {
    width: 110%;
    height: auto;
}

.blockbuzz {
    margin-top: 75px;
    width: 30%;
    float: right; 
}

.horizonchampignon2 {
    width: 400px;
    height: 100px;
    margin-left: auto;
    margin-right: auto;

}

 #vignettephotochampignon {
    width: 100px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    float: left;
    margin: 5px;
}

/* Page écriture */ 

.containeecriture {
    margin-top: 50px;
}

.droitedossier {
    width: 50%;
    height: 500px;
    float: right;
    text-align: center; 
  
}

.gauchetexte {
    width: 50%;
    height: 500px;
    float: left;
}

.alignecriture {
    width:90%;
    margin: auto;
}
 
.photopageecriture {
    height: 500px;
    width: 460px;
    opacity: 1;
}

.titrepartieecriture {
    color: #faf1e6;
    font-size:  30px;
    margin: 0;
    text-align: center;
}

.droitedossier:hover .photopageecriture {
    opacity: 0.3;
}

.textpresentation2 {
    font-size: 25px;
    color: #faf1e6;
    text-align: justify; 
}

.gauchedossier { 
width: 50%;
height: 500px;
float: left;
margin-top: 60px;

}

.droitetexte {
    width: 50%;
    height: 500px;
    float: right;
    margin-top: 60px;
}

.photopageecritureJEM {
    height: 500px;
    width: 600px;
}

.gauchedossier:hover .photopageecritureJEM {
    opacity: 0.3;
}

/* Page Infographie 2 */ 

#blockbouton {
    clear: both;
    height: 45px;
    width: 65px;
    margin-left: 90%;
    border: solid black;
}

#boutonpage {
    height: 45px;
    width: 100px;
    text-align: center;
    background-color: #0066cc; 
}

#blockbouton:hover #boutonpage {
    opacity: 0.6;
}

/* Page Compétences*/ 

.containepagecompetences {
    margin-top: 50px;
}

.aligncompetences {
    width:90%;
    margin: auto;
}

.droiteexperience {
    width: 550px;
    height: 320px;
    float: right;
    text-align: center;
    border: solid #faf1e6; 
    border-radius: 5px;
    margin-bottom: 50px;
}

.gaucheformation {
    width: 550px;
    height: 320px;
    float: left;
    text-align: center; 
    border: solid #faf1e6;
    border-radius: 5px;
    margin-bottom: 50px;
    text-decoration: none;
}

.titrepagecompetence {
    color: #0066cc;
    font-size: 30px;
}

.sous_partie {
    color: #faf1e6;
    font-size: 22px;
    list-style-image: url(puce4.png);
    text-align: center;
    line-height: 30px;
}

.texte_sous_partie {
    color: #faf1e6;
    text-align: center;
    clear: both;
    font-size: 20px;
    line-height: 0%;
}

#blockpte1 {
    clear: both; 
}

.droiteinterets {
    width: 550px;
    height: 190px;
    float: right;
    text-align: center;
    border: solid #faf1e6; 
    border-radius: 5px;
    margin-bottom: 50px;
}

.gauchecompetences {
    width: 550px;
    height: 390px;
    float: left;
    text-align: center; 
    border: solid #faf1e6;
    border-radius: 5px;
    margin-bottom: 50px;
}

.sous_partie a:hover {
    color: #0066cc;
}